 /* CSS Styles */
 * {
  box-sizing: border-box;
}
:root {
    --color-primary: #ee3425;
    --color-primary-1: #ee3425;
    --color-primary-2: #ee3425;
    --color-secondary: #fbdc00;
    --color-secondary-1: #ebbe00;
    --color-secondary-5: #fff;
    --font-color: #434343;
    --font-color-heading: #000;
    --font-color-link: var(--color-primary);
    --font-family: 'PT Sans',sans-serif;
    --font-family-heading: 'Ubuntu',sans-serif;
    --font-size-xl: 18px;
    --font-size-lg: 16px;
    --font-size-md: 14px;
    --font-size-sm: 12px;
    --font-size-xs: 10px;
    --line-height: 1.5;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-heading) ;
  color: var(--font-color-heading);
}

 body {
    margin: 0;
    padding: 0;
  }

  input {
  
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
  }
  
  h1 {
    margin: 0;
  }

  h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 1em;
  }

  h2 {
    font-size: 40px;
    line-height: 1.2;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }

/* Notification offer */

  header {
    background-color: #fbdc00;
    color: #fff;

    padding: 20px;
    text-align: center;
  }
 
  .cogo-logo{
    margin: 0;
  }
  .cogo-logo h2{
    color:red;

  }
  .cogo-logo p{
    color:black;
  }

  .nav-bar{
    color:#000;
    
    
  }
  .notification{
    position: relative;
    top: 0;
    z-index: 1010;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 36px;
    background-color: #ee3425;
  }
  .nav-offer{
   

    display: flex;
    flex: 1 1;
    align-self: center;
    justify-content: center;
    
  }
  a{
    text-decoration: none;
    color:#000;
  }
 .nav-offer-txt{
    display: flex;
    align-self: center;
    justify-content: center;
    margin: 1rem;
 }
 .nav-offer-img{
    align-self: center;
   
    -o-object-fit: contain;
    object-fit: contain;
  
 }
 .nav-offer-link{
    margin-left: 6px;
 }
 .nav-offer-txt a{
    color:#fbdc00;
 }

 /*header */

 .nav-list{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  background-color: #fbdc00;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--layout-topbar);
  padding: 8px 16px;
  font-family: var(--font-family-heading);
  font-weight: 500;
  color: var(--font-color-heading);
  background: #fbdc00;
 
}
  
 
  nav{
    background-color: #fbdc00;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline;
    margin-right: 10px;
   
  }
  .nav-bar ul li{
    font-family: var(--font-family-heading);
    font-weight: 550;
    color: var(--font-color-heading);
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  .register-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    font-family: var(--font-family-heading);
    list-style-type: none;
}
  .register-button-list{
    display: flex;
    align-items: center;
    margin-right: 16px;
    cursor: pointer;
  }
  
  .style-to-button {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-family: var(--font-family);
    height: 28px;
    justify-content: center;
    line-height: 1.2;
    padding: 2px 4px;
}
/* body */



li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.all-button-container.all-button-theme {
    color: #fff;
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
}


.register-button-signup {
  width: 100%;
  color: #fff;
  background-color: #ee3425;
  border-radius: 8px!important;
}
.all-button-container {
  font-size: 1em;
  border: none;
  border-radius: 4px;
  outline: none;
  transition: color .1s linear,background-color .1s linear,border-color .1s linear;
  will-change: color,background-color,border-color;
}




.style-main-body {
  display: flex;
}

.style-main-body-inner {
  flex: 1 1;
  background-color: #fff;
}
main {
  display: block;
}
div {
  display: block;
}
.style-advertisement-section {
  position: relative;
  width: 100%;
  padding-top: 57px;
  margin-top: -57px;
  background: url(https://cdn.cogoport.io/cms-prod/cogo_public/vault/original/home-banner-background-1.webp);
  background-color: var(--color-secondary);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}
.all-container-width.all-fixed-container {
  width: 1200px;
}

.style-advertisement-container {
  display: flex;
  align-items: center;
}
.all-container-size {
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  width: 960px;
}
.style-advertisement-container-p {
  margin-bottom: 20px;
}
.style-advertisement-container-form {
  display: flex;
  flex-direction: column;
}
.style-advertisement-container-form-div {
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  color: #000;
}
.style-advertisement-container-wrapper {
  display: flex;
  margin-top: 5px;
}
.style-advertisement-container-user-input {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 20px;
}
form {
  display: block;
  margin-top: 0em;
}
h1 {
  font-size: 40px;
  line-height: 1.2;
}
.style-advertisement-container-h1 {
  flex: 1 1;
}
.advertisement-select-controller {
  width: 110px;
  min-width: 110px;
}
.advertisement-select-input {
  display: block;
  position: relative;
}
.advertisement-select.all-button-size .advertisement-button-display {
  height: 40px;
}
.advertisement-select-controller .advertisement-button-display {
  height: 41px!important;
  border: 1px solid #e0e0e0!important;
  border-right: none!important;
  border-radius: 20px!important;
  border-top-right-radius: 0!important;
  border-bottom-right-radius: 0!important;
  outline: none!important;
}
.advertisement-button {
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  overflow: hidden;
  padding: 0;
}
.advertisement-toggle-buttun, .whatsapp-icon {
  align-items: center;
  background-color: var(--color-secondary-5);
  display: flex;
}
.advertisement-toggle-buttun {
  border: none;
  cursor: pointer;
  flex-grow: 0;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  padding: 8px 12px;
  width: 100%;
}
input:not([type="range"]):not([type="color"]) {
  writing-mode: horizontal-tb !important;
}
input[type="hidden" i] {
  appearance: none;
  background-color: initial;
  cursor: default;
  display: none !important;
  padding: initial;
  border: initial;
}

.advertisement-select.all-button-size .phone-select-control {
    font-size: 16px;
}
.advertisement-select-controller .phone-select-control {
    padding-left: 26px;
}
.phone-select {
  background-color: transparent;
  border: none;
  border-radius: 0;
  display: block;
  flex: 1 1;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  outline: 0;
  overflow: hidden;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.whatsapp-icon {
  padding-right: 16px;
}
.advertisement-toggle-buttun, .whatsapp-icon {
  align-items: center;
  background-color: var(--color-secondary-5);
  display: flex;
}
.whatsapp-icon svg {
  color: #2c3e50;
  height: 12px;
  width: 12px;
}
.ui_WXQuE {
  position: relative;
  width: 100%;
}
.advertisement-select-controller .ui_select_options_container {
  max-height: 200px!important;
}
.advertisement-select-input .ui_zgufM {
  background-color: #fff;
  display: none;
}

.ui_zgufM {
  background-color: var(--color-secondary-5);
  border-radius: 6px;
  box-shadow: 0 0 8px rgba(98,127,172,.2);
  display: block;
  left: -1px;
  list-style-type: none;
  margin: 0;
  max-height: 300px;
  overflow: scroll;
  padding: 8px 12px;
  position: absolute;
  right: -1px;
  top: 4px;
  z-index: 1;
}
.ui_G1Juz {
  align-items: center;
  border-bottom: 1px solid #dedede;
  cursor: pointer;
  display: flex;
  overflow: hidden;
  padding: 8px;
  white-space: break-all;
}
.styles_whatsapp_icon__Vyo1M {
  position: absolute;
  top: 10px;
  left: 12px;
  width: 20px;
  height: 20px;
}
svg:not(:root) {
  overflow-clip-margin: content-box;
  overflow: hidden;
}
g[Attributes Style] {
  fill: rgb(115, 208, 129);
}

.input-whatsapp-number {
  box-sizing: border-box;
  width: 100%;
  min-height: 41px!important;
  padding-right: 100px;
  font-size: 14px;
  line-height: 20px;
  color: #000;
  background: #fff;
  border: 1px solid #e0e0e0;
  border-left: none!important;
  border-radius: 20px!important;
  border-top-left-radius: 0!important;
  border-bottom-left-radius: 0!important;
  outline: none!important;
}

input:not([type="range"]):not([type="color"]) {
  writing-mode: horizontal-tb !important;
}
user agent stylesheet
input[type="number" i] {
  padding: 1px 2px;
}
.styles_get_started_btn__CzkWR {
  position: absolute;
  top: 8px;
  right: 12px;
  width: 90px;
  padding: 2px 4px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  background: #36bb22;
  border: 1px solid #36bb22;
  border-radius: 12px;
}

button {
  font-family: var(--font-family);
  font-size: 14px!important;
  font-weight: 700!important;
}
.styles_errors__tBLPy {
  color: #f85a5a;
}
.style-advertisement-container video {
  -webkit-mask-image: radial-gradient(#fff,#000);
  mask-image: radial-gradient(#fff,#000);
  backface-visibility: hidden;
}
.advertisement-image {
  display: flex;
  flex: 1 1;
  width: 595px;
  height: 400px;
  margin-bottom: -39px;
}

.industries-container {
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  justify-content: space-between;
  padding-top: 50px;
  margin-bottom: -40px;
}
video {
  object-fit: contain;
  overflow-clip-margin: content-box;
  overflow: clip;
}
.industries-container-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.styles_mobile_image__nHLp0 {
  display: none;
  flex: 1 1;
  width: 595px;
  height: 400px;
}

.industries-container-box-h2 {
  color: var(--color-primary);
  margin-bottom: 5px;
  font-size: 40px;
  line-height: 1.2;
}

.container-curve-outer {
  background: #fffef2;
}
.container-curve-inner {
  width: 100%;
  height: 100px;
  background-color: #fff;
  border-radius: 18px;
  border-bottom-right-radius: 100% 150%;
  border-bottom-left-radius: 100% 150%;
}
.product-main-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40px;
  background: #fffef2;
}

.product-container-outer {
  display: flex;
  align-items: center;
}

.product-container-inner {
  flex: 1 1;
}
.product-container-image {
  display: flex;
  flex: 1 1;
  justify-content: flex-end;
}
.product-container-image-img1 {
  display: block;
  width: 500px;
  -o-object-fit: contain;
  object-fit: contain;
  height: 100%;
}


 /* our product styling started  */

.our-product-heading {
  text-align: center;
}
.our-product-main {
  display: flex;
  justify-content: space-between;
  background: #fffef2;
}
.our-product-outer {
  display: flex;
  flex-direction: column;
}
.our-product-element {
  display: flex;
  align-items: center;
  margin: 14px 0;
}
.our-product-element-heading {
  width: 300px;
  margin-right: 50px;
  font-size: 24px;
  color: #000;
}
.our-product-element-icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
h3 {
  font-size: 28px;
  line-height: 1.2;
}
.our-product-element-icon-svg {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 184px;
  height: 160px;
  padding: 10px 7px;
  margin: 10px;
  background: #fff;
  border: 1.5px solid transparent;
  border-radius: 10px;
  box-shadow: 0 1px 6px rgba(169,188,218,.65);
}
.our-product-element-h4 {
  margin-top: 5px;
  font-size: 16px;
  line-height: 1.3em;
  text-align: center;
}
.our-product-element-link {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  margin: 10px;
  font-weight: 700;
  color: var(--color-primary);
  cursor: pointer;
}

.our-product-element-link-inner {
  margin-right: 4px;
}

 /* our partner styling started  */

.our-partner-main {
  margin-bottom: 50px;
}
.our-partner-heading {
  text-align: center;
}
.our-partner-marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 120px;
  animation: marquee 20s linear infinite;
  overflow-x: hidden;
}


.our-partner-marquee-outer {
  display: flex;
  
}

.our-partner-marquee-inner {
  display: flex;
  flex-shrink: 0;
  gap: 0.1rem;
  align-items: center;
  justify-content: space-around;
  min-width: 100%;
 
}
@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}

.our-partner-marquee-img{
  margin-right: 40px;
  margin-left: 40px;

}
 
/* Ready to take main  */


.ready-to-take-main {
  margin-bottom: 50px;
  background: var(--color-secondary);
}

.ready-to-take-main-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ready-to-take-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ready-to-take-header {
  padding: 25px 0;
}

/* How it works  */


.how-it-works-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.how-it-works-main .ready-to-take-buttun-outer {
  display: flex;
  justify-content: space-between;
}
.how-it-works-main .ready-to-take-buttun-outer button {
  width: 200px;
  padding: 20px;
  margin: 0 20px;
  font-weight: 700;
  color: #000!important;
  border-radius: 20px;
}
.how-it-works-main .ready-to-take-buttun-inner {
  background-color: var(--color-secondary)!important;
  border: var(--color-secondary)!important;
}

.how-it-works-main .ready-to-take-buttun-inactive {
  background: #e5dfdf!important;
  border: grey!important;
}
.how-it-work-outer {
  position: relative;
  display: flex;
}

.how-it-work-mobile-img {
  display: none;
}
.how-it-work-box1 {
  margin-bottom: 120px;
}
.how-it-work-box {
  width: 300px;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 1px 6px rgba(169,188,218,.65);
  display: block;
  
}
.how-it-work-box-p {
  padding-bottom: 5px;
  padding-left: 8px;
  margin: 0;
  font-weight: 600;
  color: #ee3425;
}
.how-it-work-box-heading{
  display: flex;
 justify-content:flex-start;
 align-items: center;
 padding-left: 8px;
 font-size: 20px;
 font-weight: 600;


}
.how-it-work-box span{
  display: flex;
}
.how-it-work-para {
  padding-bottom: 5px;
  padding-left: 8px;
  margin: 0;
}
.styles_imagecontainer__7Ps6C {
  display: flex;
  align-items: center;
  justify-content: center;
}
.styles_arrow3__XQhnr {
  top: 104px;
  right: 300px;
}
.how-it-work-arrow {
  position: absolute;
}
.how-it-work-arrow-img {
  width: 150px;
}
.how-it-work-arrow-img1 {
  top: 104px;
  left: 300px;
}
.how-it-work-arrow-img2 {
  bottom: 116px;
  left: 300px;
}

.how-it-work-stage3 {
  margin-bottom: 120px;
}

.how-it-work-arrow-img4 {
  right: 300px;
  bottom: 116px;
}

/* how it works styling ended  */

 /* Industries served section  */
 
.style-industry-served{
  width:100%;
  padding: 16px!important;
  margin-bottom: 50px;
  background: #fffef3;
}
.styles_industries_container1{
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  justify-content: space-between;
} 
.style-industry-heading{
  text-align: center;
}
 .industry-served-text{
  display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    color: #000;
    text-align: center;

 }

 .industry-served-div{
  flex-direction: column;
  width: 100px;
  margin: 10px;
 }
 .styles-container-trade{
  margin-bottom: 50px;
 }
 .styles-trade-main {
  display: flex;
  align-items: center;
  padding: 16px 100px!important;
 }
 .container-trade-button {
  display: inline-block;
  height: 40px;
  padding: 8px 42px;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  cursor: pointer;
  background-color: var(--color-primary);
  border-radius: 8px;
}

/* video section  */

.video-section-video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,.4);
}
.video-section-thumbnail {
  position: relative;
  height: 450px;
  cursor: pointer;
}
.video-section-container {
  background: var(--color-primary);
}
.video-section-container-div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.video-section-container-box1 {
  padding: 25px 0;
}
.video-section-container h3 {
  margin-bottom: 10px;
  color: #fff;
}
.video-section-container p {
  color: #fff;
}
.video-section-buttun {
  color: #000!important;
  background: var(--color-secondary)!important;
}

/* video section ended  */

/* subscriber email section started */


.email-main-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 120px;
  margin-top: 20px;
  background-color: var(--color-secondary);
}
.email-main-img {
  width: 20%;
  padding: 20px;
  margin: 20px;
}
.email-content-container-h3 {
  margin: 0;
}
.email-content-container-span {
  font-size: var(--font-size-lg);
}
.email-input-container {
  align-items: center;
  margin-top: 20px;
}
.email-input-form {
  display: flex;
}

.all-button-container.all-button-size {
  min-width: 72px;
  height: 36px;
  padding: 4px 16px;
  font-size: 13px;
}

.email-submit-buttun {
  width: 120px!important;
  height: 40px!important;
  text-align: center;
  text-decoration: none;
  background: #ee3425;
  border-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

 /* Subscriber email section ended  */

.style-blog-main{
  width:100%;
  margin-top: 50px;
}
.blog-container{
  display: flex;
  flex-direction: column;
}
.blog-card-container {
  display: flex;
  flex-wrap: wrap;
  margin-right: 110px;
  margin-left: 110px;
}
.blog-heading{
  text-align: center;
}
.blog-card-img {
  width: calc(calc(100% / 3) - 20px);
  margin-right: 10px;
  margin-bottom: 40px;
  margin-left: 10px;
  overflow: hidden;
  text-align: start;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 3px 6px hsla(0,0%,79%,.5);
}
.blog-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 16px;
}

.blog-card-content-title {
  margin-bottom: 5px;
  font-size: 16px!important;
  color: var(--color-primary);
}
.blog-card-content-subtitle {
  margin-bottom: 5px;
  font-size: 18px;
  color: #000!important;
}
.blog-card-content-img {
  display: block;
  width: 100%;
  height: 200px;
  background-color: #fbdc00;
  -o-object-fit: cover;
  object-fit: cover;
}
.blog-card-content-read{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog-card-buttun {
  display: flex;
  align-items: center;
  font-weight: 700;
  color: var(--color-primary);
  cursor: pointer;
}
.blog-card-date {
  margin-bottom: 5px;
  font-size: 14px!important;
  color: #9a9a9a;
}

.blog-card-view-buttun {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.blog-view-buttun-inner {
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 42px!important;
  font-family: var(--font-family);
  font-size: 14px!important;
  font-weight: 700!important;
}

.email-input-container input[type=email] {
    box-sizing: border-box;
    display: inline-block;
    width: 250px;
    height: 40px;
    padding: 10px;
    border: 2px solid transparent;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    outline: none;
}
/*footer*/


  .footer-1 {
    background-color: #fbdc00;
    height: 750px;
    width: 100%;
    display:flex;
    justify-content: space-evenly;
    
    
  }
  .footer-box{
    width:230px;
    height: 730px;
   
    display:block;
    justify-content: space-around;
  }
.footer-span{
  margin-top:14px;
  margin-bottom: 14px;
}
 .footer-content{
  display: inline;
 justify-content: left;
 margin:20px;
 padding-top: 20px;


 }

 .heading{
  font-weight: 700;
  font-size: 20px;
 
 }
 .footer2{
  height: 350px;
  width:100%;
  background-color: #ebbe00;
  display: flex;
  justify-content: space-between;

  align-items: left;
  
 }
 .footer-box1{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 320px;
  width:250px;
 
  margin:20px;
 }

 .footer3{
  width:100%;
  height: 60px;

  background-color: #ebbe00;
  display:flex;
  justify-content: space-between;
  align-items: center;
 }
 .footer-terms a:hover{
  border-bottom:2px solid black;
 }
 .footer-social{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-right: 30px;
  
 }
 .footer-copy  {
  margin-left: 10px;
 }
 .social-lang{
  margin-right:20px;
 }
 .lang{
  color:red;

 }
 .social-media a {
  margin:5px;
 }

 .nav-bar ul li a:hover{
  color:red;

 }


.our-product-element-icon-svg:hover{
  border:2px solid red;
  border-radius:5px;
}
.footer-small-box a:hover{
  text-decoration: underline;
  color: #ee3425;
}